#paper {
   position: relative;
   border: 1px solid gray;
   display: inline-block;
   background: transparent;
   overflow: hidden;
}
#paper svg {
   background: transparent;
}
#paper svg .link {
   z-index: 10;
}
.html-element {
   position: absolute;
   background:  rgba(250,250,200,0.5);
    /*Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
   pointer-events: none;
   -webkit-user-select: none;
   border-radius: 4px;
   border: 2px solid #808080;
   box-shadow: inset 0 0 5px black, 2px 2px 1px gray;
   padding: 5px;
   box-sizing: border-box;
   z-index: 100;
}
.html-element select,
.html-element input,
.html-element button {
   /* Enable interacting with inputs only. */
   pointer-events: auto;   
   /*z-index: 10;*/
}

.html-element table {
	border-collapse: collapse;
	width: 100%;
}
.html-element table,th,td {
	border: black solid 1px;
}

.html-element button.delete {
   color: white;
   border: none;
   background-color: #C0392B;
   border-radius: 20px;
   width: 15px;
   height: 15px;
   line-height: 15px;
   text-align: middle;
   position: absolute;
   top: -15px;
   left: -15px;
   padding: 0;
   margin: 0;
   font-weight: bold;
   cursor: pointer;
}
